/*
 * Common styles for the entire page.
 */

body {
    font: 12px Arial, sans-serif;
    padding-bottom: 70px;
}

#login_message {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
}

html.loading, html.loading * {
    cursor: progress !important;
}
